$background: #f5f5f5;

.header {
  background: $background;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  &__menu {
    padding: 0 7px;
    &-item {
      color: #4078c0;
      display: inline-block;
      padding: 4px 8px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 100;
      &_active {
        color: #333;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}