.repos-list {
  &__item {
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 3px;
    border: 1px #e5e5e5 solid;
  }
  &__name {
    color: #4078c0;
    font-size: 16px;
  }
  &__desc {
    font-size: 14px;
    margin-bottom: 16px;
    margin-top: 8px;
    color: #767676
  }
  &__panel {
    &:after {
      clear: both;
      content: '';
      display: block;
    }
  }
  &__language {
    float: left;
    color: #767676
  }
  &__stars {
    float: right;
    color: #767676
  }
}