.repos-list {
  &__item {
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 3px;
    border: 1px #e5e5e5 solid;
  }
  &__name {
    color: #4078c0;
    font-size: 16px;
  }
  &__desc {
    font-size: 14px;
    margin-bottom: 16px;
    margin-top: 8px;
    color: #767676;
    font-weight: 100;
  }
  &__panel {
    &:after {
      clear: both;
      content: '';
      display: block;
    }
  }

  &__property {
    float:left;
    color: #767676;
    font-weight: 100;
    .fa {
      margin-right: 5px;
    }
    &_stars {
      float: right;
      .fa {
        margin-right: 0;
      }
    }
    &_size {
      margin-left: 50px;
    }
  }
  &__github-ico {
    float: right;
    font-size: 24px;
    margin-top: -6px;
  }
}